body {
    background-color: lightcoral;
}

div.card {
    border: 5px solid white;
    border-radius: 10px;
    margin: 10px;
    background-color: olivedrab;
    width: 200px;
    height: 350px;
    font-size: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

div#hand {
    border: 2px solid white;
    display: flex;
    flex-flow: row wrap;
}